.lead {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 48px 0;
}
 
@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 48px 48px 0;
    }
}
 
@media screen and (max-width: 769px) {
    .lead {
        max-width: 768px;
        padding: 48px 0 0;
    }
}
 
@media screen and (max-width: 650px) {
    .lead {
        max-width: 650px;
        padding: 48px 0 0;
    }
}
 
@media screen and (max-width: 450px) {
    .lead {
        max-width: 100%;
        padding: 48px 0;
    }
}