.card__url-header {
    display: flex;
    margin: 0;
    font-style:normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    padding-bottom: 12px;
}