@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page-cover {
    background-color:#2A2C2F;
    font-family: 'Inter', "Arial", "sans-serif"; 
}

.page {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif; 
    font-weight: 400;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.header {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header {
      padding: 28px 48px 0;
    }
  }
  
  @media screen and (max-width: 769px) {
    .header {
      padding: 28px 24px 0;
    }
  }
  
  @media screen and (max-width: 321px) {
    .header {
        padding: 16px 16px 0;
    }
  }

.header__logo {
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}

.header__lang-links {
    margin: 0;
    padding: 0;
}

.header__lang-link {
    margin: 0;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
    list-style: none;
    transition: opacity 0.5s;

}

@media screen and (max-width: 767px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link-active {
    text-decoration: underline;
    padding-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.5;
}


.lead {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 48px 0;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 48px 48px 0;
    }
}

@media screen and (max-width: 790px) {
    .lead {
        max-width: 768px;
        padding: 48px 0 0;
    }
}

@media screen and (max-width: 700px) {
    .lead {
        max-width: 650px;
        padding: 48px 0 0;
    }
}

@media screen and (max-width: 450px) {
    .lead {
        min-width: 320px;
        padding: 48px 0 0;
    }
}


.lead__title {
    max-width: 720px;
    text-align: center;
    line-height: 100px;
    font-size: 96px;
    font-weight: 900;
    margin: auto 0;

}


@media screen and (max-width: 767px){
    .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    }
}

.lead__subtitle {
    justify-content: center;
    max-width: 640px;
    margin: auto 0;
    line-height: 36px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 32px;
}

@media screen and (max-width: 767px){
    .lead__subtitle{
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    }
}

.lead__figure {
    margin: 0 auto;
    padding-top: 64px;
  }

@media screen and (max-width: 1024px){
    .lead__figure {
        padding-top: 56px;
    }
}  

@media screen and (max-width: 767px){
    .lead__figure {
        padding-top: 40px;
    }
}


.lead__image {
    object-fit: cover;
    min-height: 200px;
    max-width: 100%;

}
.lead__caption {
    display: flex;
    font-weight: 400;
    margin-top: 8px;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

 @media screen and (max-width: 1023px){
     .lead__caption {
         padding-left: 16px;
     }
 }

.intro {
    margin: 0 auto;
    padding-top: 92px;
    max-width: 984px;
}


@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 790px) {
    .intro {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 288px;
        padding-top: 64px;
    }
} 


.intro__title{
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}
.intro__text {
    margin: 0;
    padding-top: 40px;
    max-width: 690px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__list {
   max-width: 690px;
   list-style: none;
   margin: 0;
   padding-top: 33px;
   padding-left: 0;
   font-weight: bold;
   font-size: 12px;
   line-height: 18px;
}

.intro__list-digits {
    font-weight: 400;
}

.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 790px) {
    .photo-grid {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: 288px;
        padding-top: 64px;
    }
}


.photo-grid__list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-auto-rows: minmax(213px, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .photo-grid__list {
        gap: 14px;
    }
}

@media screen and (max-width: 790px) {
    .photo-grid__list {
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__list {
        gap: 12px;
    }
}
.photo-grid__image {
    width: 100%;
}

.places {
    max-width: 984px;
    margin:0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 790px) {
    .places {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        padding-top: 64px;
    }
} 
.card {
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    row-gap: 48px;
    column-gap: 40px;
    margin: 0;
    max-width: 984px;
    padding-bottom: 80px;
}

.card:last-of-type{
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .card {
      grid-template-columns: fit-content(340px) 1fr;
      column-gap: 28px;
      max-width: 720px;
    }  
  }

  @media screen and (max-width: 648px) {
    .card {
      grid-template-columns: fit-content(340px);
      row-gap: 32px;
    } 
  }

  @media screen and (max-width: 320px) {
    .card {
      grid-template-columns: 1fr;
      max-width: 320px;
      padding-bottom: 50px;
    } 
  }


.card__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}
@media screen and (max-width: 790px) {
    .card__title {
        font-size: 42px;
        line-height: 46px; 
    }
}

@media screen and (max-width: 767px) {
    .card__title {
        max-width: 288px;
        margin-left: 16px;
        font-size: 32px;
        line-height: 35px;
        
    }
} 

.card__site {
    align-self: end;
}

@media screen and (max-width: 767px) {
    .card__site {
        margin: 0 16px;
    }
}
.card__url-header {
    display: flex;
    margin: 0;
    font-style:normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    padding-bottom: 12px;
}
.card__url {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;
    color:#fff;
    transition: opacity 0.3s ease;
}

.card__url:hover {
    opacity: 0.8;
}
.card__image {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .card__text-main {
        padding: 0 16px;
    }
}
.card__text {
    margin: 0;
    padding-bottom: 26px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
}

@media screen and (max-width: 768px) {
    .card__text {
        font-size: 16px;
    }
}

.card__text:last-of-type{
    padding-bottom: 0;
}

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 92px auto 0 auto;
    max-width: 1184px;
    background-image:url('../images/cover-trains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media screen and (max-width: 1279px) {
    .cover{
      max-width: 1024px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover{
      margin-top: 90px;
    }
  }
  
  @media screen and (max-width: 424px) {
    .cover{
      margin-top: 66px;
    }
  }

  .cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    min-height: 740px;
    text-decoration: none;
  }
  
  .cover__overlay::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: .3;
  }
  
  .cover__overlay:hover::before {
    opacity: .8;
  }
  
  @media screen and (max-width: 1279px) {
    .cover__overlay {
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__overlay {
      min-height: 480px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover__overlay {
      min-height: 200px;
    }
  }

  .cover__title {
    margin: 0;
    margin-top: 245px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    color: #fff;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: 2;
  }
  
  @media screen and (max-width: 1279px) {
    .cover__title {
      margin-top: 195px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__title {
      margin-top: 115px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover__title{
      margin-top: 74px;
      font-size: 48px;
      line-height: 1.09;
    }
  }
  
  @media screen and (max-width: 424px) {
    .cover__title{
      margin: 33px 16px 0 16px;
      font-size: 32px;
      line-height: 1.09;
    }
  }

  .cover__subtitle {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 245px;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: #fff;
    z-index: 2;
  }
  
  @media screen and (max-width: 1279px) {
    .cover__subtitle {
      margin-bottom: 195px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__subtitle {
      margin-bottom: 115px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      margin: 24px 16px 74px 16px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 424px) {
    .cover__subtitle {
      margin: 16px 16px 33px 16px;
      font-size: 14px;
    }
  }

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}

.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .footer__list {
        flex-direction: column;
    }
}