.cover__title {
    margin: 0;
    margin-top: 245px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    color: #fff;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: 2;
  }
 
@media screen and (max-width: 1279px) {
    .cover__title {
      margin-top: 195px;
    }
  }
 
@media screen and (max-width: 1023px) {
    .cover__title {
      margin-top: 115px;
    }
  }
 
@media screen and (max-width: 767px) {
    .cover__title{
      margin-top: 74px;
      font-size: 48px;
      line-height: 1.09;
    }
  }
 
@media screen and (max-width: 424px) {
    .cover__title{
      margin: 33px 16px 0 16px;
      font-size: 32px;
      line-height: 1.09;
    }
  }